<footer>
  <small>
    <%= link_to 'Lista contato. Todos os direitos reservados', root_path %>
  </small>
  <nav>
    <ul>
      <li>
        <%= link_to 'Sobre', '#' %>
      </li>
      <li>
        <%= link_to 'Contato', '#' %>
      </li>
    </ul>
  </nav>
</footer>
